
body{
    position: relative;
}


.container-datatable{
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.container-datatable h1{
    text-align: left;
    color: rgb(93, 202, 214);
}


.navbar-brand{
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: rgb(93, 202, 214);
    margin: 10px 800px 10px 10px;   
}

#navbar-span{
    color: white;
}
.main-body-container{
    height: 850px;
    width: 1320px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    /* border: 2px solid green;  */
    align-self: center;
}


.left-container{
    font-size: large; 
}

.left-container h1{
color: rgb(93, 202, 214);
}
.right-container{
    margin: 20px;
    padding: 10px;  
}

.right-container h5{
    margin: 20px;
    padding: 10px;
    color: rgb(93, 202, 214);
}
.left-img {
   float: left;
   width: 350px; 
}
.viz-card:hover{
    opacity: 0.7;
}

.viz-card{
    margin: 10px 10px 10px 10px;
    width: 130px;
    border-width: 0;
    text-align: center;
}
.viz-image{
    width: 120px;
    align-items: center;
}


.viz-image-viz{
    width: 400px;
    align-items: center;
}
footer{
    text-align: center;
}